<h2><%= @post.title %></h2>

<p>
  <strong>Author:</strong>
  <%= @post.user.name %>
</p>

<div>
  <%= simple_format @post.body %>
</div>

<h6 class="text-muted">Posted <%= time_ago_in_words(@post.created_at) %> ago.</h6>

<% if policy(@post).edit? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<% if policy(@post).destroy? %>
  <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<hr/>
<h2>Comments</h2>
<%= render(@post.comments.order(:created_at)) || "No comments yet." %>


<% if current_user %>
  <hr/>
  <%= render "comments/form", comment: @comment %>
<% end %>
