<nav class="navbar navbar-light bg-light">
  <%= link_to 'Posts', posts_path, { class: 'navbar-brand' } %>

  <div>
    <% if current_user %>
      <%= link_to current_user.name, edit_user_registration_path, class: "d-inline-block" %>
      <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-danger', form_class: 'd-inline-block' %>
    <% else %>
      <%= button_to 'Sign In', new_user_session_path, method: :get, class: 'btn btn-primary', form_class: 'd-inline-block' %>
      <%= button_to 'Sign Up', new_user_registration_path, method: :get, class: 'btn btn-warning', form_class: 'd-inline-block' %>
    <% end %>
  </div>
</nav>